<!DOCTYPE html>

<html>
        <head>
                <title>HospitalManagementSystem</title>
        </head>

        <body>
                <br>
                Hello {{Name}} !! <br>
                ID : {{ ID }} <br>
                Ward NO. : {{ WardNo }}<br>
                Working As : {{ position }}<br>

                <div class="attendance">
                        <form action="/submitattendance" method="post">
                                <h2>
                                        Submit todays attendance
                                </h2>
                                <input type="hidden" value="{{ ID }}" name="Id">
                                <input type="radio" name="attendance" value="present">Present <br>
                                <input type="radio" name="attendance" value="absent">Absent <br>
                                <input type="submit" value="Submit">
                                {{ status }}

                        
                        </form>
                        

                </div>
                <br><hr>
                <div class="PastAttendances">
                        <h2>Past Attendances</h2>
                        <table>
                                <tr>
                                        <th>Date</th>
                                        <th>Status</th>
                                </tr>

                                {% for row in Attendance %}
                                <tr>
                                        {% for col in row %}
                                        <td> {{ col }} </td>
                                        {% endfor %}
                                        <td>Present</td>
                                </tr>
                                {% endfor %}


                        </table>

                </div>
                <br>
                <hr>
                <div class="workerDetails">
                        {% if CommonDetails != "" %}
                        <h1>Details of Worker</h1>
                        Name : {{Name}}<br> 
                        position: {{ position }}<br>
                        Address: <br>
                                {{ CommonDetails[1] }},<br> 
                                {{ CommonDetails[2] }}, {{ CommonDetails[3] }}<br> 
                                {{ CommonDetails[4] }},<br>
                        ContactNo : {{ CommonDetails[5] }}<br> 
                        Gender : {{ CommonDetails[6] }}<br>
                        DOB: {{ CommonDetails[7] }} <br>
                        WardName: {{ WardName }}<br>
                        Working Since: {{ doj }}<br>
                        Current Salary: {{ salary }}<br>
                        {% endif %}
                        <form action='/showallworkerdata' method="post">
                                <input type="hidden" name="Id" value="{{ ID }}" >
                                <input type="submit" value="Show My All Data">
                        </form>
                </div>

                

                








        </body>



</html>